<nav>
  <a href="/">Home</a>

  <% if (user) { %>
  <a href="/dashboard">Dashboard</a>
  <a href="/api/elections">All Elections</a>
  <a href="/api/users/change-password">Change Password</a>
  <!-- Added this line -->
  <a href="/api/users/logout">Logout</a>
  <% } else { %>
  <a href="/api/users/login">Login</a>
  <a href="/api/candidates/register">Register</a>
  <a href="/api/elections">All Elections</a>
  <% } %>
</nav>
<hr />
